<section id="about">
    <div class="container">
        <div class="row">
            {{ if isset .Site.Params "about_us" }}
            <div class="col-md-6 col-sm-6">
                <h1>About Us</h1>

                <h4>We are a passionate, highly experienced team of developers and designers, with offices in Gaborone and Johannesburg.</h4>
                <p>We believe its time Botswana had the same digital platforms as the rest of the world, and we have spent the last few
                    years learning all that we needed to learn to deliver such experiences. We have worked with some of the biggest global
                    brands in Southern Africa over the years at various jobs, and built start-ups that serve thousands of customers.
                </p>

            </div>

            <div class="col-md-6 col-sm-6">
                <img src="img/mac.jpg" alt="" class="img-responsive">
            </div>
            {{ end }}
        </div>
    </div>
</section>

