<section id="about">
    <div class="container">
        <div class="row">
            {{ if isset .Site.Params "about_us" }}
            <div class="col-md-6 col-sm-6">
                <h1>About Us</h1>

                <h4>We are a passionate, highly experienced team of developers and designers, with offices in Gaborone and Johannesburg.</h4>
                <p>Our mission is simple, we want to give you the best digital solutions around. We have set really high standards for our work, and believe that
                    everything we put out should be of international standards. We have worked with some of the biggest global
                    brands in Southern Africa, and built great products that impact many people's lives.
                </p>

            </div>

            <div class="col-md-6 col-sm-6">
                <img src="img/about.jpeg" alt="" class="img-responsive">
            </div>
            {{ end }}
        </div>
    </div>
</section>

