<section id="about">
    <div class="container">
        <div class="row">
            {{ if isset .Site.Params "about_us" }}
            <div class="col-md-6 col-sm-6">
                <h1>About Us</h1>

                <h4>We are a passionate experienced team with big ambitions.</h4>
                <p>Specialising in customer experiences & brand development, we combine digital craftsmanship with innovative thinking to deliver disruptive digital solutions on a worldwide scale. Specialising in customer experiences & brand  development, we combine digital craftsmanship with innovative thinking to deliver disruptive digital.</p>
                {{ .Site.Params.about_us | safeHTML }}

            </div>

            <div class="col-md-6 col-sm-6">
                <img src="img/mac.jpg" alt="" class="img-responsive">
            </div>
            {{ end }}
        </div>
    </div>
</section>

