{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div id="main-slider">
        <div class="dark-mask"></div>
            <div class="slider">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        <img class="img-responsive" src="{{ .image }}" alt="">

                        <div class="col-sm-5 caption">
                            <h1>{{ .title }}</h1>
                            <h4>{{ .description | safeHTML }}</h4>

                            <a href="#services" class="btn btn-main">Our Services</a>

                            <a href="/case-study" class="btn btn-main-outline">See Our Work</a>

                        </div>

                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
</section>
{{ end }}
{{ end }}
{{ end }}
