<section id="services">
    <div class="container-fluid inner">

        <h1 class="text-center">Services</h1>

            <div class="row">

                <div class="web col-xs-3">
                    <i class="fa fa-television" aria-hidden="true"></i>
                    <h2>Web & Mobile</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta
                        eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas
                        voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/web-mobile">Read More</a></p>
                </div>

                <div class="strategy col-xs-3">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <h2>Strategy & Consulting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/digital-strategy">Read More</a></p>
                </div>

                <div class="marketing col-xs-3">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <h2>Digital Marketing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/digital-marketing">Read More</a></p>
                </div>

                <div class="analytics col-xs-3">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    <h2>Data Analytics</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/data-analytics">Read More</a></p>
                </div>

            </div>

            <div class="row">

                <div class="ecommerce col-xs-3">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <h2>e-Commerce</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/e-commerce">Read More</a></p>
                </div>

                <div class="content col-xs-3">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <h2>Content Management</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/content-management">Read More</a></p>
                </div>

                <div class="branding col-xs-3">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <h2>Branding</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/branding">Read More</a></p>
                </div>

                <div class="bots col-xs-3">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2>Bots</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
                    <p><a class="btn btn-primary" href="services/bots">Read More</a></p>
                </div>

            </div>

    </div>
</section>

