<section id="services">
    <div class="container-fluid inner">

        <h1 class="text-center">Services</h1>

            <div class="row">

                <div class="web col-xs-3">
                    <i class="fa fa-television" aria-hidden="true"></i>
                    <h2>Web & Mobile</h2>
                    <p class="description">We love the web, and we want to build digital solutions that fit your specific business needs, whether it be a website,
                    a mobile app, a USSD app, an intranet or a combination of any of these.</p>
                    <p><a class="btn btn-primary" href="services/web-mobile">Read More</a></p>
                </div>

                <div class="strategy col-xs-3">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <h2>Strategy & Consulting</h2>
                    <p class="description">Nowadays, companies need to leverage technology more and more to remain relevant in their respective markets.
                        Our consulting service seeks to help you with this, we want to become your CTO, to help you harness technology
                        to make your business processes much more efficient.</p>
                    <p><a class="btn btn-primary" href="services/digital-strategy">Read More</a></p>
                </div>

                <div class="marketing col-xs-3">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <h2>Digital Marketing</h2>
                    <p class="description">A web presence on its own is not enough, your customers need to find you online when they need your
                        services. We help companies market themselves on digital platforms so that they can be found,
                        whether through search engines or social media.</p>
                    <p><a class="btn btn-primary" href="services/digital-marketing">Read More</a></p>
                </div>

                <div class="analytics col-xs-3">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    <h2>Data Analytics</h2>
                    <p class="description">Big data will offer your company the chance to understand your customers better and to be able customize their experience with your business. By storing and analyzing data
                    about your different customers, you can tailor your service offering to each and every one of them and ensure they get the best service.</p>
                    <p><a class="btn btn-primary" href="services/data-analytics">Read More</a></p>
                </div>

            </div>

            <div class="row">

                <div class="ecommerce col-xs-3">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <h2>e-Commerce</h2>
                    <p class="description">The time is right to venture into e-commerce in Botswana, more and people are warming up to the idea.
                    We will set up the store for you, from the design to the payment systems, and even provide consulting services to help make the store a success.</p>
                    <p><a class="btn btn-primary" href="services/e-commerce">Read More</a></p>
                </div>

                <div class="content col-xs-3">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <h2>Content Management</h2>
                    <p class="description">In our experience, websites fail because of a lack of content. Websites need to be updated regularly to remain
                     useful to your customers. We will set up a content plan for your website, and even write the content for you if you require.</p>
                    <p><a class="btn btn-primary" href="services/content-management">Read More</a></p>
                </div>

                <div class="branding col-xs-3">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <h2>Branding</h2>
                    <p class="description">As a full service agency, we will also handle your branding needs. From your logo, to a full corporate identity, we have you covered.
                    The idea is to have a coherent brand, so that every part of your brand is aligned, from your website, mobile apps to digital marketing.</p>
                    <p><a class="btn btn-primary" href="services/branding">Read More</a></p>
                </div>

                <div class="bots col-xs-3">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2>Bots</h2>
                    <p class="description">Bots are a new communication medium that is available to companies. They allow you to extend your reach, they communicate
                    with your customers on your behalf. We program the bot to handle common scenarios and questions your customers would have, and it
                    handles these for you.</p>
                    <p><a class="btn btn-primary" href="services/bots">Read More</a></p>
                </div>

            </div>

    </div>
</section>

