{{ if isset .Site.Params "services" }}
{{ if .Site.Params.services.enable }}
{{ if gt (len .Site.Data.services) 0 }}
<section id="services">
    <div class="container-fluid inner">

        <h1 class="text-center">Services</h1>

        <div class="web col-xs-4">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <h2>Web Design</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
        </div>

        <div class="apps col-xs-4">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Mobile</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
        </div>

        <div class="marketing col-xs-4">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <h2>Digital Marketing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
        </div>

        <div class="social col-xs-4">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <h2>Social Media</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
        </div>

        <div class="design col-xs-4">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <h2>Branding</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
        </div>

        <div class="consulting col-xs-4">
            <i class="fa fa-cloud" aria-hidden="true"></i>
            <h2>Digital Strategy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet beatae delectus dicta eaque eveniet ex illo laudantium molestiae non quae, sequi tempora vero voluptas voluptates. Amet consequuntur fuga qui!</p>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
