<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header id="header">

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}

        {{ partial "about.html" . }}

        {{ partial "services.html" . }}

        {{ partial "featured_project.html" . }}

        {{ partial "portfolio.html" . }}

        {{ partial "contact_home.html" . }}

        {{ partial "newsletter.html" . }}

        {{ partial "map.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
