<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

<div id="all" class="subpage">

    <header>

        {{ partial "nav.html" . }}

    </header>

    <div id="content">
        <div class="container">
            <div class="row">
                <!-- *** LEFT COLUMN *** -->

                <div class="col-md-12" id="case-study-listing">
                    <div class="text-center">{{ partial "breadcrumbs.html" . }}</div>

                    {{ $paginator := .Paginate (where .Data.Pages "Type" "case-study") }}
                    {{ range $paginator.Pages }}
                        <div class="col-md-4 col-sm-6 col-xs-12 case-study">
                            <a href="{{ .Permalink }}" class="clearfix">
                                <div class="image">
                                    <img src="{{ .Site.BaseURL}}{{ .Params.image }}" class="img-responsive" alt="">
                                </div>

                                <span class="logo">
                                    {{ if isset .Params "logo" }}
                                        <img src="{{ .Site.BaseURL}}{{ .Params.logo }}" alt="{{ .Title }}" class="img-responsive">
                                    {{ else }}
                                        <h2>{{ .Title }}</h2>
                                    {{ end }}
                                </span>

                                <div class="content">
                                    <h2>{{ .Title }}</h2>
                                    <h5>{{ .Params.works }}</h5>
                                    <p class="intro">{{ .Params.short }}</p>
                                    <p class="read-more">Read More...</p>
                                </div>
                            </a>
                        </div>
                    {{ end }}
                </div>

            </div>
        </div>
    </div>

    {{ partial "newsletter.html" . }}

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

</body>
</html>
